.references{

  color: white;

  .maindesk-menu{
    text-align: left;
    background: rgba(31,31,31,0.5);
  }

  .references-table{
    background: rgba(31, 31, 31, 0.5);
    border-radius: 20px;
    border: white;
    border-width: 1px;
  }

}